:root {
  --primary-font: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  --paynes-gray: #2C6477ff;
  --oxford-blue: #001A2Fff;
  --dark-slate-gray: #2C575Eff;
  --cadet-gray: #8FADB1ff;
  --ash-gray: #ABC0BFff;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--oxford-blue);
  background-image:
  radial-gradient(var(--ash-gray), rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(var(--ash-gray), rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(var(--ash-gray), rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
