footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(var(--ash-gray), var(--paynes-gray));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--ash-gray);
    box-shadow: 0 0 20px 2px lightblue;
}

footer a, footer span {
    text-decoration: none;
    color: white;
    position: relative;
    margin: 25px 0px;
    padding: 0 25px;
  }

footer a:hover:after {
    transform: scaleX(1);
    transform-origin: initial;
}

footer a:after {
    content: '';
    position: absolute;
    background-color: white;
    transition: transform 0.3s ease-out;
    width: 60%;
    margin: auto;
    align-content: center;
    transform: scaleX(0);
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0px;
  }